$color-black: #000000;
$color-black-transparent-dark: #000000de;
$color-black-transparent-light: #0000003b;
$color-white: #ffffff;
$color-grey: #808080;
$color-blue: #1981ff;
$color-blue-dark: #181f4e;
$color-blue-light: #e2f0ff;
$color-green: #2e7d32;
$color-yellow: #fcf1cf;
